* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #000000;
    color: white;
}

:root {
    --h1: 5.8rem;
    --h2: 3.7rem;
    --hero-p: 3rem;
    --mg-lados: 5%;
}
/*HEADER  E SERVIÇOS*/
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background: #fcfcfc;
    box-shadow: 0 0.5rem 0.2rem -0.2rem rgba(11, 12, 18, 0.2);
    background-color: white;

}

.navlist {
    display: flex;
    text-decoration: none;
}
.btn-agenda{
    background-color: yellow;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 22px;
    border-bottom: 2px solid transparent;
    transition: all .40s ease;
    text-decoration: none;
}
.btn-agenda:hover{
    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navlist .normal-list {
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 5px;
    margin: 0 22px;
    border-bottom: 2px solid transparent;
    transition: all .40s ease;
    text-decoration: none;

}

.navlist .a:hover {
    color: #e1ff00;
    border-bottom: 2px solid #000000;
}

.icons {
    display: flex;
    align-items: center;
}

#menu-icon {
    display: none;
    color: #3e1908;
    font-size: 26px;
    z-index: 1001;
    cursor: pointer;
    margin-left: 10px;
}

#home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 1250px;
    justify-content: center;
    padding-top: 7rem;
    margin: 0 var(--mg-lados);
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.h1-logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #DBF227;
}

.home-conteudo h1 {
    line-height: 1.2;
    font-weight: 600;
    font-size: var(--h2);
    letter-spacing: -0.1rem;
    margin-bottom: 1rem;
    max-width: 900px;
}

.conteudo p {
    font-size: var(--hero-p);
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 5rem;
    color: #474d59;
}

.primeira-img img {
    width: 28rem;
    height: calc(100vh - 7.5rem);
    max-height: 70rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    object-fit: cover;
}

mark {
    background-color: #DBF227;
    border-radius: 2px;
}

.item h4{
    text-align: center;
}
#servicos h2{
    text-align: center;
    
}
h2{
    font-size: 2.7rem;
    margin-bottom: 40px;
}
.servicos-img{
   font-size: 100px;
}
.img-ser{
    text-align: center;
}

h6{
    color: #DBF227;
    font-weight: bold;
    font-size: 1.4rem;
}
/*Depoimentos e Galeria*/


.avaliacao{
    text-align: center;
}
.avaliacao .owl-carousel .item{
    background-color: white;
    color: black;
    height: 300px;
}
.item {
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    width: 280px;
    font-size: 1.1rem;
    background-color: #000000;
}

.star{
    margin-top: 10px;
    color: yellow;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    font: normal;
    font-size: 60px;
}


.galeria {
    display: block;
    height: auto;
    max-width: 1200px;
    margin: auto;
    margin-top: 10rem;
    text-align: center;
}

.item div{
    width: 100%;
    height: 100%;
}

.galeria h2 {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 10px;
    font-family: 'Roboto Mono', monospace;
}
.galeria .owl-carousel .item img{
    height: 280px;
    width: 280px;
    border-radius: 5px;
}
.agendar {
    padding: 5px 4rem;
    border-radius: 3rem;
    margin: 13rem var(--mg-lados) 10rem;
    background-color: #0b0c12;
    max-width: 800px;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.hr-content {
    display: flex;
    justify-content: space-around;

}

.agenda-content {
    padding: 5rem 2rem;
    border-radius: 3rem;
    margin: 1rem 0;
    color: #000000;
    background: #fcfcfc;
    font-weight: bold;

}

.h2-hr {
    text-align: center;
}

.hr {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.linha {
    display: block;
    width: 100%;
    height: 0.4rem;
    margin-top: 1rem;
    border-radius: 3rem;
    background: #000000;
}

.local {
    background-color: #0b0c12;
    padding: 5px 3rem;
    width: 600px;
    margin: auto;
    margin-top: 1.6rem;
    margin-bottom: 3rem;
    color: #f7f7f7;
    text-align: center;
    border-radius: 10px;

}

.local h2 {
    margin-bottom: 10px;
}

iframe {
    border-radius: 5px;
    max-width: 400px;
    max-height: 350px;
}

.marcar-hr {
    background-color: #0b0c12;
    width: 50%;
    margin: auto;
    padding: 5rem 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.marcar-hr h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: aliceblue;
}

.marcar-hr ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.li-contact a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.li-contact:hover{
    transform: scale(1.1);
    background-position: -60px;
}
   
.local h2{
   margin: 30px 0;
}

.p-local {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.p-local a{
    text-decoration: none;
    color: #DBF227;
    font-weight: 700;
}
.p-local a:hover{
    text-decoration: underline;
   
}


.footer {
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 100%;
}

footer p {
    font-size: 1.4rem;
}

footer a {
    color: rgb(18, 18, 18);
    border-bottom: 2px solid transparent;
    transition: all .40s ease;
    font-weight: bold;
}
@media screen and (max-width:1098px){
    .marcar-hr ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 10px;
    }
}

@media screen and (max-width: 1170px) {

    #home,
    .sobre {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        gap: 5rem;
    }

    footer {
        width: 100%;
        box-sizing: calc();
    }

    
    #home {
        padding-top: 14rem;
    }

    .home-conteudo {
        text-align: center;
        max-width: 130ch;
        margin: 0 auto;
    }

    .primeira-img img {
        width: 100%;
        height: 30rem;
        border-radius: 3rem;

    }
}
@media screen and (max-width: 1130px) {
    .item {
        padding: 15px;
        width: 250px;
        height: 300px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 1012px) {
    .item{
        width: 240px;
        height: 290px;
    }
}



@media screen and (max-width: 1000px) {
    header {
        height: 7rem;
    }
    .item {
        padding: 15px;
        border-radius: 10px;
        width: 230px;
        height: 280px;
        font-size: 1rem;
    }
}
@media (max-width:999px) {
    .avaliacao{
        text-align: center;
    }
    .item {
        margin: auto;
    }
   
}

@media (max-width:975px) {
    #menu-icon {
        display: block;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        background: #3e1908;
        color: #fff;
        font-size: 25px;
        border-radius: 10px;
    }

    .navlist {
        position: absolute;
        top: -600px;
        left: 0px;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #DBF227;
        text-align: left;
        transition: all .43s ease;
    }

    .navlist a {
        font-size: 15px;
        display: block;
        padding: 0.5rem;
        border-bottom: none;
    }

    .navlist a:hover {
        border-bottom: none;
        background: #000000;
        color: white;
        border-radius: 5px;
    }

    .navlist.open {
        top: 100%;
    }

    .btn-agenda{
        background-color: #000000;
        color: white;
        width: 200px;
        text-align: center;
        margin-bottom: 5px;
    }
    .h1-logo {
        color: #000000;
    }
}

@media screen and (max-width: 900px) {
    .marcar-hr{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .marcar-hr ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}


@media screen and (max-width: 750px) {
    .home-conteudo {
        max-width: 100ch;
    }

}

@media screen and (max-width: 700px) {

    .agendar {
        padding: 0 2rem;
    }

    .home-conteudo h1 {
        font-size: 3rem;
    }

    .marcar-hr {
        width: 80%;
    }
    .avaliacao .owl-carousel .item {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 640px) {
    .local {
        width: 96%;
    }

    footer p {
        font-size: 1.2rem;
    }
    .marcar-hr ul{
        text-align: center;
    }
    
}

@media screen and (max-width: 616px) {
    .local {
        width: 97%;
    }
    .item{
        width: 350px;
        text-align: center;
    }
    .galeria h2 {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5px;
    }
    .galeria .owl-carousel .item img{
       margin: auto;
    }
    h6{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 500px) {
    .local {
        width: 95%;
    }

    footer p {
        font-size: 1.4rem;
    }

    footer {
        gap: 10px;
    }

    footer li {
        margin-bottom: 10px;
    }

    .galeria h2 {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5px;
    }

    .agendar {
        width: 95%;
    }

    header {
        width: 99%;
    }

    .hr {
        display: block;
    }

    .agenda-content {
        width: 100%;
        text-align: center;
    }

    .hr::first-line {
        font-weight: 600;
        font-size: 1.5rem;
    }

    iframe {
        width: 90%;
    }

    .h1-logo {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

}

/*Animação*/
.galeria img {
    transition: transform .3s ease;
    
}

.galeria img:hover {
    transform: scale(1.1);
}